h1{
    color:orangered;
    font-size: 50px;
}
.color{
    color:violet;
}
section{
    display: flex;
}
.love{
    width:50%;
    padding-left:5%;
}
.love img{
    width:70%;
}
a{
    text-decoration: none;
    background-color:lightskyblue;
    color:green;
    padding:5px;
    font-style: italic;

}
.new{
    margin-top:100px;
}
